# Testes contra sybase
TEST_SYBASE_HOST=127.0.0.1
TEST_SYBASE_PORT=5000
TEST_SYBASE_DATABASE=replicado
TEST_SYBASE_USERNAME=sa
TEST_SYBASE_PASSWORD=Sybase123456789

# o codundclg não deve ser alterado pois deve ser o mesmo que está nos testes que é 8
TEST_SYBASE_CODUNDCLG=8

# Testes contra mssql server
TEST_MSSQL_HOST=
TEST_MSSQL_PORT=5050
TEST_MSSQL_DATABASE=faker
TEST_MSSQL_USERNAME=dbmaint
TEST_MSSQL_PASSWORD=
TEST_MSSQL_CODUNDCLG=
