<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Replicado Test Suite">
            <file>tests/DeploySchemaTest.php</file>
            <file>tests/UteisTest.php</file>
            <file>tests/PessoaTest.php</file>
            <file>tests/GraduacaoTest.php</file>
            <file>tests/PosgraduacaoTest.php</file>
            <file>tests/BempatrimoniadoTest.php</file>
            <file>tests/EstruturaTest.php</file>
            <file>tests/LattesTest.php</file>
            <file>tests/BuildFakerDataTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
